$default: #243f4d;
$white: #ffffff;
$white-100: #f8f8f8;
$white-200: #fffcfa;
$white-250: #fafafa;
$white-300: #fbfbfb;
$blue: #a3bbc8;
$blue-50: #c2d2db;
$blue-100: #edf1f4;
$blue-150: #234969;
$blue-200: #436372;
$blue-250: #dae4e9;
$blue-300: #222933;
$blue-350: #1f2044;
$blue-400: #565872;
$blue-450: #526278; 
$blue-600: #0000ff;
$grey: #8b8b8b;
$grey-50: #e8e4df;
$grey-100: #e0e0e0;
$grey-150: #f2f2f2;
$grey-160: #fefefe;
$grey-170: #f6f6f6;
$grey-200: #7b7b7b;
$grey-220: #a1a1a1;
$grey-250: #888c91;
$grey-300: #1a1a1a;
$grey-350: #888888;
$grey-400: #262626;
$grey-450: #333333;
$grey-500: #667983;
$peach: #fcd7b6;
$peach-100:#fef7f0;
$peach-200: #feefe2;
$peach-300: #cbc6c6;
$peach-400: #cbc6c6;
$peach-500: #fde3cc;
$peach-600: #fdfdfd;
$peach-700: #e1e1e1;
$yellow: #ffcc00;
$red: #fe3e57;

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;