$default: #243f4d;

$white: #ffffff;
$white-100: #f8f8f8;

$blue: #a3bbc8;
$blue-100: #edf1f4;
$blue-200: #436372;

$grey: #8b8b8b;
$grey-100: #e0e0e0;
$grey-200: #7b7b7b;
$grey-300: #1a1a1a;

$peach: #fcd7b6;
$peach-100:#fef7f0;
$peach-200: #feefe2;


%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}


%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}


@function max($numbers...){
    @return m#{a}x(#{$numbers});
}
@function min($numbers...){
    @return m#{i}n(#{$numbers});
}

