<article class="card-new mix category-furnitures">
    <a class="card-new__link" href="images/new-design/1.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img" src="images/new-design/1.png" alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Beat Flat Pendant Black</a>
    <span class="card-new__descr">Classic</span>
</article>
<article class="card-new mix category-furnitures">
    <a class="card-new__link" href="images/new-design/2.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img" src="images/new-design/2.png" alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Lampe Sur Pieds Bamboo</a>
    <span class="card-new__descr">Classic</span>
</article>
<article class="card-new mix category-lighting">
    <a class="card-new__link" href="images/new-design/3.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img card-new__img--chair" src="images/new-design/3.png"
            alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Rattan Rocking Chair</a>
    <span class="card-new__descr">Classic</span>
</article>
<article class="card-new mix category-deco">
    <a class="card-new__link" href="images/new-design/4.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img" src="images/new-design/4.png" alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Rattan Rocking Chair</a>
    <span class="card-new__descr">Classic</span>
</article>
<article class="card-new mix category-chairs">
    <a class="card-new__link" href="images/new-design/5.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img card-new__img--chair" src="images/new-design/5.png"
            alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Rattan Rocking Chair</a>
    <span class="card-new__descr">Classic</span>
</article>
<article class="card-new mix category-chairs">
    <a class="card-new__link" href="images/new-design/6.png" data-fancybox data-width="500"
        data-height="500">
        <img class="card-new__img" src="images/new-design/6.png" alt="Beat Flat Pendant Black">
    </a>
    <a class="card-new__title" href="#">Lampe Sur Pieds Bamboo</a>
    <span class="card-new__descr">Classic</span>
</article>