                <div class="blog__item blog-details__item">
                    <div class="blog__images">
                        <a class="blog__image" href="#">
                            <img class="blog__img" src="images/news/page-1.jpg" alt="blog images">
                        </a>
                        <div class="blog__bottom">
                            <span class="blog__date">
                                <svg>
                                    <use xlink:href="images/sprite.svg#calendar"></use>
                                </svg>
                                28 JANUARY, 2020
                            </span>
                            <span class="blog__author">
                                <svg>
                                    <use xlink:href="images/sprite.svg#avatar"></use>
                                </svg>
                                by admin
                            </span>
                        </div>
                    </div>
                    <h4 class="blog__title">Fonsectetur adipisicing eiusmod</h4>
                    <div class="blog-details__inner">
                        <span>
                            Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim venia Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        </span>
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                        </p>
                        <blockquote>
                            Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad
                            minim veniam, quis nostrud exercitation ullamco laboris
                            <span>Wiusmod tempor</span>
                        </blockquote>
                        <div class="blog-details__img">
                            <img src="images/blog-details.jpg" alt="Wiusmod tempor">
                            <span>Riusmod tempor incididunt</span>
                            <p>
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip
                                ex ea commodo
                            </p>
                        </div>
                        <span>Kajtsal jervcm eoaspckred</span>
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo
                        </p>
                    </div>
                    <div class="blog-details__box">
                        <div class="blog-details__author">
                            <img class="blog-details__author-photo" src="images/author-photo.jpg" alt="author photo"
                                class="blog-details__photo">
                            <div class="blog-details__author-descr">
                                <span class="blog-details__name">Mark N. Hernandez</span>
                                <span class="blog-details__work">Designer</span>
                            </div>
                        </div>
                        <div class="blog-details__descr">
                            <div class="blog-details__tags">
                                <span>Tags:</span>
                                <a href="#">All</a>,
                                <a href="#">Trending</a>
                            </div>
                            <div class="blog-details__share">
                                <span>Share:</span>
                                <a class="blog-details__facebook" href="#">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#google"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-details__comments-title">
                    <span>3</span><span>comments</span>
                </div>
                <div class="comments">
                    <img class="comments__img" src="images/avatar/1.jpg" alt="avatar images">
                    <div class="comments__content">
                        <div class="comments__top">
                            <p class="comments__name">Delores G. Roberts</p>
                            <p class="comments__date">Add 11 Oct 2020</p>
                        </div>
                        <p class="comments__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                            tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Suspendisse orci sem, ultrices
                        </p>
                        <a class="comments__reply" href="#">Reply
                            <span class="comments__arrow">
                                <svg>
                                    <use xlink:href='images/sprite.svg#arrow-right'></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="comments comments--reply">
                    <img class="comments__img" src="images/avatar/2.jpg" alt="avavtar images">
                    <div class="comments__content">
                        <div class="comments__top">
                            <p class="comments__name">Delores G. Roberts</p>
                            <p class="comments__date">Add 11 Oct 2020</p>
                        </div>
                        <p class="comments__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                            tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Suspendisse orci sem, ultrices
                        </p>
                        <a class="comments__reply" href="#">
                            Reply
                            <span class="comments__arrow">
                                <svg>
                                    <use xlink:href='images/sprite.svg#arrow-right'></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="comments comments--last">
                    <img class="comments__img" src="images/avatar/3.jpg" alt="avavtar images">
                    <div class="comments__content">
                        <div class="comments__top">
                            <p class="comments__name">Delores G. Roberts</p>
                            <p class="comments__date">Add 11 Oct 2020</p>
                        </div>
                        <p class="comments__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et
                            tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Suspendisse orci sem, ultrices
                        </p>
                        <a class="comments__reply" href="#">
                            Reply
                            <span class="comments__arrow">
                                <svg>
                                    <use xlink:href='images/sprite.svg#arrow-right'></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <form class="blog-details__form" action="#">
                    <span class="blog-details__form-title">Leave A Comment</span>
                    <div class="blog-details__box-input">
                        <label class="blog-details__label blog-details__label--name">
                            <input class="blog-details__input blog-details__input--name" type="text" placeholder="Name">
                            <svg>
                                <use xlink:href='images/sprite.svg#avatar'></use>
                            </svg>
                        </label>
                        <label class="blog-details__label">
                            <input class="blog-details__input" type="text" placeholder="youremail@gmail.com">
                            <svg>
                                <use xlink:href='images/sprite.svg#mail-icon'></use>
                            </svg>
                        </label>
                    </div>
                    <label class="blog-details__label-textarea">
                        <textarea class="blog-details__textarea" placeholder="Comment"></textarea>
                        <svg>
                            <use xlink:href='images/sprite.svg#comment'></use>
                        </svg>
                    </label>
                    <button class="blog-details__form-btn btn" type="submit">post comment</button>
                </form>
            </div>
      