<div class="blog__content">
    <div class="blog__item">
        <div class="blog__images">
            <a class="blog__image" href="blog-details.html">
                <img class="blog__img" src="images/news/page-1.jpg" alt="blog images">
            </a>
            <div class="blog__bottom">
                <span class="blog__date">
                    <svg>
                        <use xlink:href="images/sprite.svg#calendar"></use>
                    </svg>
                    28 JANUARY, 2020
                </span>
                <span class="blog__author">
                    <svg>
                        <use xlink:href="images/sprite.svg#avatar"></use>
                    </svg>
                    by admin
                </span>
            </div>
        </div>
        <span class="blog__title">Fonsectetur adipisicing eiusmod</span>
        <div class="blog__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
            </p>
        </div>
        <a class="blog__btn" href="blog-details.html">View more
            <span class="blog__arrow arrow">
                <svg>
                    <use xlink:href="images/sprite.svg#arrow-btn"></use>
                </svg>
            </span>
        </a>
    </div>
    <div class="blog__item">
        <div class="blog__images">
            <a class="blog__image" href="blog-details.html">
                <img class="blog__img" src="images/news/page-2.jpg" alt="blog images">
            </a>
            <div class="blog__bottom">
                <span class="blog__date">
                    <svg>
                        <use xlink:href="images/sprite.svg#calendar"></use>
                    </svg>
                    28 JANUARY, 2020
                </span>
                <span class="blog__author">
                    <svg>
                        <use xlink:href="images/sprite.svg#avatar"></use>
                    </svg>
                    by admin
                </span>
            </div>
        </div>
        <span class="blog__title">Fonsectetur adipisicing eiusmod</span>
        <div class="blog__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
            </p>
        </div>
        <a class="blog__btn" href="blog-details.html">View more
            <span class="blog__arrow arrow">
                <svg>
                    <use xlink:href="images/sprite.svg#arrow-btn"></use>
                </svg>
            </span>
        </a>
    </div>
    <div class="blog__item">
        <div class="blog__images">
            <a class="blog__image" href="#">
                <img class="blog__img" src="images/news/page-3.jpg" alt="blog images">
            </a>
            <div class="blog__bottom">
                <span class="blog__date">
                    <svg>
                        <use xlink:href="images/sprite.svg#calendar"></use>
                    </svg>
                    28 JANUARY, 2020
                </span>
                <span class="blog__author">
                    <svg>
                        <use xlink:href="images/sprite.svg#avatar"></use>
                    </svg>
                    by admin
                </span>
            </div>
        </div>
        <span class="blog__title">Fonsectetur adipisicing eiusmod</span>
        <div class="blog__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
            </p>
        </div>
        <a class="blog__btn" href="blog-details.html">View more
            <span class="blog__arrow arrow">
                <svg>
                    <use xlink:href="images/sprite.svg#arrow-btn"></use>
                </svg>
            </span>
        </a>
    </div>
    <div class="blog__item blog__item--last">
        <div class="blog__images">
            <a class="blog__image" href="#">
                <img class="blog__img" src="images/news/page-4.jpg" alt="blog images">
            </a>
            <div class="blog__bottom">
                <span class="blog__date">
                    <svg>
                        <use xlink:href="images/sprite.svg#calendar"></use>
                    </svg>
                    28 JANUARY, 2020
                </span>
                <span class="blog__author">
                    <svg>
                        <use xlink:href="images/sprite.svg#avatar"></use>
                    </svg>
                    by admin
                </span>
            </div>
        </div>
        <span class="blog__title">Fonsectetur adipisicing eiusmod</span>
        <div class="blog__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
            </p>
        </div>
        <a class="blog__btn" href="#">View more
            <span class="blog__arrow arrow">
                <svg>
                    <use xlink:href="images/sprite.svg#arrow-btn"></use>
                </svg>
            </span>
        </a>
    </div>
    <ul class="pagination blog__pagination">
        <li class="pagination__item">
            <a class="pagination__link" href="#">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">3</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">Next</a>
        </li>
    </ul>
</div>