<div class="blog__filter filters">
    <form class="filter-search" action="#">
        <label class="filter-search__label">
            <input class="filter-search__input" type="text">
            <button class="filter-search__btn" type="submit">
                <svg>
                    <use xlink:href='images/sprite.svg#search'></use>
                </svg>
            </button>
        </label>
    </form>
    <div class="filters__item filters-category">
        <h3 class="filters-category__title filters__title">category</h3>
        <ul class="filters-category__list">
            <li class="filters-category__items">
                <button class="filters-category__btn filters-category__btn--active" type="button"
                    data-filter='.category-chair'>
                    <span class="filters-category__name">Chair</span>
                    <svg>
                        <use xlink:href='images/sprite.svg#arrow-category'></use>
                    </svg>
                </button>
            </li>
            <li class="filters-category__items">
                <button class="filters-category__btn" type="button" data-filter='.category-table'>
                    <span class="filters-category__name">Table</span>
                    <svg>
                        <use xlink:href='images/sprite.svg#arrow-category'></use>
                    </svg>
                </button>
            </li>
            <li class="filters-category__items">
                <button class="filters-category__btn" type="button" data-filter='.category-lamp'>
                    <span class="filters-category__name">Lamp</span>
                    <svg>
                        <use xlink:href='images/sprite.svg#arrow-category'></use>
                    </svg>
                </button>
            </li>
            <li class="filters-category__items">
                <button class="filters-category__btn" type="button" data-filter='.category-watch'>
                    <span class="filters-category__name">Watch</span>
                    <svg>
                        <use xlink:href='images/sprite.svg#arrow-category'></use>
                    </svg>
                </button>
            </li>
            <li class="filters-category__items">
                <button class="filters-category__btn" type="button" data-filter='.category-clock'>
                    <span class="filters-category__name">Clock</span>
                    <svg>
                        <use xlink:href='images/sprite.svg#arrow-category'></use>
                    </svg>
                </button>
            </li>
        </ul>
        <div class="filters__item filter-recent">
            <h3 class="filter-recent__title filters__title">recent posts</h3>
            <div class="filter-recent__card">
            <article class="card-recent">
                <a class="card-recent__link" href="#">
                    <img class="card-recent__img" src="images/filters/view-one.jpg" alt="view design">
                </a>
                <div class="card-recent__info">
                    <a class="card-recent__title" href="#">Corem ipsum dolor tetur adipisicing elit</a>
                    <span class="card-recent__date">
                        <svg>
                            <use xlink:href="images/sprite.svg#calendar"></use>
                        </svg>
                        28 JANUARY, 2020
                    </span>
                </div>
            </article>
            <article class="card-recent">
                <a class="card-recent__link" href="#">
                    <img class="card-recent__img" src="images/filters/view-two.jpg" alt="view design">
                </a>
                <div class="card-recent__info">
                    <a class="card-recent__title" href="#">Fdipisicing elit, sed do eiusmod tempor</a>
                    <span class="card-recent__date">
                        <svg>
                            <use xlink:href="images/sprite.svg#calendar"></use>
                        </svg>
                        28 JANUARY, 2020
                    </span>
                </div>
            </article>
            <article class="card-recent">
                <a class="card-recent__link" href="#">
                    <img class="card-recent__img" src="images/filters/view-three.jpg" alt="view design">
                </a>
                <div class="card-recent__info">
                    <a class="card-recent__title" href="#">Eonsectetur adipisicing elit, sed do eiusmod </a>
                    <span class="card-recent__date">
                        <svg>
                            <use xlink:href="images/sprite.svg#calendar"></use>
                        </svg>
                        28 JANUARY, 2020
                    </span>
                </div>
            </article>
            <article class="card-recent">
                <a class="card-recent__link" href="#">
                    <img class="card-recent__img" src="images/filters/view-four.jpg" alt="view design">
                </a>
                <div class="card-recent__info">
                    <a class="card-recent__title" href="#">gnim ad minim veniam, quis nostrud </a>
                    <span class="card-recent__date">
                        <svg>
                            <use xlink:href="images/sprite.svg#calendar"></use>
                        </svg>
                        28 JANUARY, 2020
                    </span>
                </div>
            </article>
        </div>
        </div>
    </div>
</div>