<section class="content-grid">
    <article class="card mix category-furnitures">
        <div class="card__images">
            <a class="card__link" href="images/week-products/1.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/1.png" alt="radio">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Wooden radio</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-furnitures">
        <div class="card__images">
            <a class="card__link" href="images/week-products/1.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/1.png" alt="radio">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Wooden radio</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-furnitures">
        <div class="card__images">
            <a class="card__link" href="images/week-products/2.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/2.png" alt="radio">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Wooden chair</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-chairs">
        <div class="card__images">
            <a class="card__link" href="images/week-products/3.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/3.png" alt="radio">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">White chair</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-chairs">
        <div class="card__images">
            <a class="card__link" href="images/week-products/4.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/4.png" alt="Retro table">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Retro table</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-deco">
        <div class="card__images">
            <a class="card__link" href="images/week-products/5.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/5.png" alt="Wooden radio">
            </a>

            <ul class="card__element">
                <li class="card__list">
                    <a class="card__more" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                </li>
                <li class="card__list">
                    <button class="card__more" type="submit">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                </li>
                <li class="card__list">
                    <button class="card__more" type="submit">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Wooden radio</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-deco">
        <div class="card__images">
            <a class="card__link" href="images/week-products/6.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/6.png" alt="Wooden chair">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Wooden chair</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-lighting">
        <div class="card__images">
            <a class="card__link" href="images/week-products/7.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/7.png" alt="White chair">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">White chair</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-lighting">
        <div class="card__images">
            <a class="card__link" href="images/week-products/8.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/8.png" alt="Retro table">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Retro table</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-lighting">
        <div class="card__images">
            <a class="card__link" href="images/week-products/8.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/8.png" alt="Retro table">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Retro table</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-lighting">
        <div class="card__images">
            <a class="card__link" href="images/week-products/8.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/8.png" alt="Retro table">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Retro table</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article class="card mix category-lighting">
        <div class="card__images">
            <a class="card__link" href="images/week-products/8.png" data-fancybox data-width="500" data-height="500">
                <img class="card__img" src="images/week-products/8.png" alt="Retro table">
            </a>
            <div class="card__element">
                <a class="card__more" href="#">
                    <svg>
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                </a>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="card__more" type="submit">
                    <svg>
                        <use xlink:href="images/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__wrapper">
            <a class="card__title" href="#">Retro table</a>
            <div class="card__star" data-rateyo-rating="5"></div>
            <span class="card__price"><span class="card__curency">$</span>29.00</span>
            <div class="card__content">
                <div class="card__text">
                    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <div class="card__buttons">
                    <a class="card__btn card__basket" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                    </a>
                    <a class="card__btn" href="#">
                        <svg>
                            <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                    </a>
                    <button class="card__click" type="submit">
                        add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
</section>