<section class="experience">
    <div class="container">
        <div class="experience__wrapper">
            <div class="experience__images">
                <img class="experience__img" src="images/about/bg-img.png" alt="background images">
            </div>
            <div class="our-experience">
                <div class="our-experience__years">
                    <span class="our-experience__num">12</span>
                    <span class="our-experience__block">
                        <span class="our-experience__text">Years</span>
                        <span class="our-experience__text">Experience</span>
                        <span class="our-experience__text">Working</span>
                    </span>
                </div>
                <div class="our-experience__mission">
                    <h2 class="our-experience__title">Mission of our creative house</h2>
                    <div class="our-experience__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        </p>
                    </div>
                </div>
                <ul class="our-experience__progress">
                    <li class="our-experience__item our-experience__item--letters">
                        <svg>
                            <use xlink:href='images/sprite.svg#letters'></use>
                        </svg>
                        <span class="our-experience__element">
                            <span class="our-experience__sum">520+</span>
                            <span class="our-experience__subtitle">Projects</span>
                        </span>
                    </li>
                    <li class="our-experience__item our-experience__item--horn">
                        <svg>
                            <use xlink:href='images/sprite.svg#horn'></use>
                        </svg>
                        <span class="our-experience__element">
                            <span class="our-experience__sum">$4M</span>
                            <span class="our-experience__subtitle">Revenue</span>
                        </span>
                    </li>
                    <li class="our-experience__item our-experience__item--awards">
                        <svg>
                            <use xlink:href='images/sprite.svg#awards'></use>
                        </svg>
                        <span class="our-experience__element">
                            <span class="our-experience__sum">250</span>
                            <span class="our-experience__subtitle">Awards</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>