<ul class="gallery-filter">
    <li class="gallery-filter__item">
        <button class="gallery-filter__btn" type="button" data-filter="all">All</button>
    </li>
    <li class="gallery-filter__item">
        <button class="gallery-filter__btn" type="button" data-filter=".category-furnitures">Furnitures</button>
    </li>
    <li class="gallery-filter__item">
        <button class="gallery-filter__btn" type="button" data-filter=".category-chairs">Chairs</button>
    </li>
    <li class="gallery-filter__item">
        <button class="gallery-filter__btn" type="button" data-filter=".category-lighting">Lighting</button>
    </li>
    <li class="gallery-filter__item">
        <button class="gallery-filter__btn" type="button" data-filter=".category-deco">Deco</button>
    </li>
</ul>