<header class="header">
    <div class="container container--fluid">
        <button class="menu__btn">
            <span class="menu__line"></span>
            <span class="menu__line"></span>
            <span class="menu__line"></span>
        </button>
        <nav class="header__inner">
            <a class="logo logo--header" href="index.html">
                <img class="logo__image" src="images/logo.png" alt="logo">
            </a>
            <div class="header__wrapper">
                <ul class="menu">
                    <li class="menu__item menu__item--dropdown">
                        <a class="menu__link menu__link--dropdown" href="index.html">
                            Home
                        </a>
                        <div class="dropdown dropdown--home">
                            <button class="dropdown__btn dropdown__btn--home" type="submit">
                                <span class="dropdown__line">+</span>
                            </button>
                            <ul class="dropdown__list">
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 1</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 2</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 3</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 4</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="about.html">
                            About
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="terms-conditions.html">
                            Services
                        </a>
                    </li>
                    <li class="menu__item menu__item--dropdown">
                        <a class="menu__link menu__link--dropdown" href="product-grid.html">
                            Pages
                        </a>
                        <div class="dropdown dropdown--pages">
                            <button class="dropdown__btn dropdown__btn--pages" type="submit">
                                <span class="dropdown__line">+</span>
                            </button>
                            <ul class="dropdown__list">
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 1</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 2</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 3</a>
                                </li>
                                <li class="dropdown__items">
                                    <a href="#" class="dropdown__element">Task 4</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="blog.html">
                            News
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="contact.html">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="nav-users">
                    <button class="nav-users__btn nav-users__btn--search" type="submit">
                        <span class="sr-only">Search</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </button>
                    <ul class="nav-users__list">
                        <li class="nav-users__item nav-users__item--heart">
                            <a class="nav-users__link nav-users__link--heart" href="#">
                                <span class="sr-only">Your like</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                            </a>
                            <span class="nav-users__num">0</span>
                        </li>
                        <li class="nav-users__item nav-users__item--basket">
                            <span class="sr-only">Basket</span>
                            <a class="nav-users__link nav-users__link--basket" href="#">
                                <svg>
                                    <use xlink:href="images/sprite.svg#basket"></use>
                                </svg>
                            </a>
                            <span class="nav-users__num nav-users__num--basket">0</span>
                        </li>
                    </ul>
                    <button class="header__btn" type="submit">
                        <span class="sr-only">Menu</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#header-btn"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>