<div class="container">
    <div class="login__wrapper">
        <form class="login__form" action="#">
            <label class="login__label">
                <span>Username or email address*</span>
                <input class="login__input" type="text" required>
            </label>
            <label class="login__label">
                <span> Password*</span>
                <input class="login__input login__input--last" type="password" required>
            </label>
            <button class="login__btn">Login</button>
            <div class="login__checked">
                <label class="login__remember">
                    <input type="checkbox">
                    Remember me
                </label>
                <a class="login__error" href="#">Lost your password?</a>
            </div>
        </form>
        <span class="login__registered">Not registered? No problem</span>
        <a class="login__create" href="#">Create an account</a>
    </div>
</div>