<section class="news">
    <div class="container">
        <h2 class="news__title title">Our Insights & Articles</h2>
        <ul class="news__list">
            <li class="news__item">
                <article class="news-article">
                    <a class="news-article__link" href="#">
                        <img class="news-article__images" src="images/news/1.jpg" alt="Diusmod tempor incididunt">
                    </a>
                    <span class="news-article__state">news</span>
                    <a class="news-article__text" href="#">
                        Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </a>
                    <div class="news-article__bottom">
                        <span class="news-article__date"> 28 JANUARY, 2020</span>
                        <span class="news-article__author"> by admin</span>
                    </div>
                </article>
            </li>
            <li class="news__item">
                <article class="news-article">
                    <a class="news-article__link" href="#">
                        <img class="news-article__images" src="images/news/2.jpg" alt="Aonsectetur adipisicing">
                    </a>
                    <span class="news-article__state">news</span>
                    <a class="news-article__text" href="#">Aonsectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore </a>
                    <div class="news-article__bottom">
                        <span class="news-article__date"> 28 JANUARY, 2020</span>
                        <span class="news-article__author"> by admin</span>
                    </div>
                </article>
            </li>
            <li class="news__item">
                <article class="news-article">
                    <a class="news-article__link" href="#">
                        <img class="news-article__images" src="images/news/3.jpg" alt="Rncididunt ut labore">
                    </a>
                    <span class="news-article__state">news</span>
                    <a class="news-article__text news-article__text--labore" href="#">Rncididunt ut labore et
                        dolore magna aliqua. Ut enim</a>
                    <div class="news-article__bottom news-article__bottom--labore">
                        <span class="news-article__date"> 28 JANUARY, 2020</span>
                        <span class="news-article__author"> by admin</span>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <!--#include virtual="slide-partners.html" -->
</section>