<section class="smart">
    <div class="container container--fluid">
        <h1 class="sr-only">Slider smart and trendy</h1>
        <div class="smart__inner">
            <div class="swiper-container smart__content">
                <div class="swiper-wrapper smart__wrapper">
                    <div class="swiper-slide smart-slide">
                        <div class="smart-slide__text">
                            <span class="smart-slide__title">smart and trendy</span>
                            <div class="smart-slide__subtitle">
                                <p>Dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt</p>
                            </div>
                            <a class="smart-slide__btn btn" href="#">Shop Now
                                <span class="smart-slide__arrow arrow">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#arrow-btn"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="smart-slide__images">
                            <img class="smart-slide__img" src="images/slider/smart/smart-bg.png" alt="slider sofa">
                        </div>
                    </div>
                    <div class="swiper-slide smart-slide">
                        <div class="smart-slide__text">
                            <span class="smart-slide__title">smart and trendy</span>
                            <div class="smart-slide__subtitle">
                                <p>Dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt</p>
                            </div>
                            <a class="smart-slide__btn btn" href="#">Shop Now
                                <span class="smart-slide__arrow arrow">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#arrow-btn"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="smart-slide__images">
                            <img class="smart-slide__img" src="images/slider/smart/smart-bg.png" alt="slider sofa">
                        </div>
                    </div>
                    <div class="swiper-slide smart-slide">
                        <div class="smart-slide__text">
                            <span class="smart-slide__title">smart and trendy</span>
                            <div class="smart-slide__subtitle">
                                <p>Dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt</p>
                            </div>
                            <a class="smart-slide__btn btn" href="#">Shop Now
                                <span class="smart-slide__arrow arrow">
                                    <svg>
                                        <use xlink:href="images/sprite.svg#arrow-btn"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="smart-slide__images">
                            <img class="smart-slide__img" src="images/slider/smart/smart-bg.png" alt="slider sofa">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination smart-slide__pagination">
                </div>
            </div>
        </div>
        <ul class="smart-descr">
            <li class="smart-descr__item smart-descr__item--support">
                <span class="smart-descr__title">Support 24/7.</span>
                <span class="smart-descr__text">Contact us 24 hours a day, 7 days a week.</span>
            </li>
            <li class="smart-descr__item smart-descr__item--delivery">
                <span class="smart-descr__title">Delivery.</span>
                <span class="smart-descr__text">Free shipping on all US order.</span>
            </li>
            <li class="smart-descr__item smart-descr__item--payment">
                <span class="smart-descr__title">100% Payment secure.</span>
                <span class="smart-descr__text">We ensure secure payment with PEV.</span>
            </li>
        </ul>
    </div>
</section>