<section class="team">
    <div class="container">
        <div class="team__wrapper">
            <div class="team__content">
                <h2 class="team__title">Our Team</h2>
                <div class="team__text">
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum
                        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex
                        ea commodo consequat. </p>
                </div>
                <a class="team__btn btn" href="#">Join With US
                    <span class="team__arrow arrow">
                        <svg>
                            <use xlink:href="images/sprite.svg#arrow-btn"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <ul class="team__foto">
                <li class="team__item">
                    <a class="team__images" href="#">
                        <img class="team__img" src="images/team/eliza.png" alt="Eliza Elliot">
                    </a>
                    <div class="team__element">
                        <span class="team__descr">
                            <a class="team__name" href="#">Eliza Elliot</a>
                            <a class="team__profession" href="#">Commodo tempor</a>
                        </span>
                        <div class="team__link">
                            <a class="team__social team__social--twitter" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#twitter'></use>
                                </svg>
                            </a>
                            <a class="team__social team__social--google" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#google'></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__images" href="#">
                        <img class="team__img" src="images/team/roscoe.png" alt="Roscoe A.">
                    </a>
                    <div class="team__element">
                        <span class="team__descr">
                            <a class="team__name" href="#">Roscoe A.</a>
                            <a class="team__profession" href="#">Commodo tempor</a>
                        </span>
                        <div class="team__link">
                            <a class="team__social team__social--twitter" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#twitter'></use>
                                </svg>
                            </a>
                            <a class="team__social team__social--google" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#google'></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__images" href="#">
                        <img class="team__img" src="images/team/ruby.png" alt="Ruby M.">
                    </a>
                    <div class="team__element">
                        <span class="team__descr">
                            <a class="team__name" href="#">Ruby M.</a>
                            <a class="team__profession" href="#">Commodo tempor</a>
                        </span>
                        <div class="team__link">
                            <a class="team__social team__social--twitter" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#twitter'></use>
                                </svg>
                            </a>
                            <a class="team__social team__social--google" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#google'></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__images" href="#">
                        <img class="team__img" src="images/team/marie.png" alt="Marie F. Bloss">
                    </a>
                    <div class="team__element">
                        <span class="team__descr">
                            <a class="team__name" href="#">Marie F. Bloss</a>
                            <a class="team__profession" href="#">Commodo tempor</a>
                        </span>
                        <div class="team__link">
                            <a class="team__social team__social--twitter" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#twitter'></use>
                                </svg>
                            </a>
                            <a class="team__social team__social--google" href="#">
                                <svg>
                                    <use xlink:href='images/sprite.svg#google'></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>