<section class="top">
    <h1 class="sr-only">Pages about our team</h1>
    <div class="container">
        <h2 class="top__title">About Us</h2>
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</section>