<section class="win">
    <div class="container">
        <ul class="win__list">
            <li class="win__item">
                <div class="win__img win__img--monitor">
                    <svg>
                        <use xlink:href='images/sprite.svg#monitor'></use>
                    </svg>
                </div>
                <span class="win__num">99%</span>
                <span class="win__text">Satisﬁed Clients Rate</span>
            </li>
            <li class="win__item">
                <div class="win__img win__img--delivery">
                    <svg>
                        <use xlink:href='images/sprite.svg#delivery'></use>
                    </svg>
                </div>
                <span class="win__num">5020+</span>
                <span class="win__text">Products Delivered</span>
            </li>
            <li class="win__item">
                <div class="win__img win__img--hour">
                    <svg>
                        <use xlink:href='images/sprite.svg#hour'></use>
                    </svg>
                </div>
                <span class="win__num">23hr</span>
                <span class="win__text">Daily Working Time</span>
            </li>
            <li class="win__item">
                <div class="win__img win__img--brands">
                    <svg>
                        <use xlink:href='images/sprite.svg#brands'></use>
                    </svg>
                </div>
                <span class="win__num">140+</span>
                <span class="win__text">Brands in Store</span>
            </li>
        </ul>
    </div>
</section>