.footer {
    background-color: $white;
    color: $grey-200;
    font-size: 14px;
    @include Rubik(400);
}

.footer-top {
    padding: 42px 0 74px;
    border-bottom: 1px solid $blue-250;
    display: flex;
    justify-content: space-between;

    @media (max-width: $screen-md) {
        flex-wrap: wrap;
        padding: 15px 0 15px;
    }

    @media (max-width: $screen-xs) {
        justify-content: center;
    }

    &__element {
        max-width: 200px;
        width: 100%;

        &--address {
            max-width: 190px;

            @media (max-width: $screen-xs) {
                max-width: 100vw;
                text-align: center;
            }
        }

        &--services,
        &--account {
            padding-top: 15px;

            @media (max-width: $screen-lg) {
                max-width: 140px;
            }

            @media (max-width: $screen-sm) {
                max-width: 100px;
            }

            @media (max-width: $screen-xs) {
                max-width: 140px;
                width: 100%;
            }
        }

        &--form {
            max-width: 270px;
            padding-top: 15px;

            @media (max-width: $screen-md) {
                max-width: 100vw;
            }

            @media (max-width: $screen-xs) {
                text-align: center;
            }
        }
    }

    &__logo {
        display: block;
        margin-bottom: 29px;
        @media (max-width: $screen-xs) {
           margin: 0 auto 20px;
        }
    }

    &__data {
        display: inline-block;        
        border-bottom: 1px solid transparent;
        transition: all 1s;
        &--address {
            display: inline;
            line-height: 1.4;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 5px;
            line-height: 1.2;
        }

        &:focus {
            background-color: $peach-100;
        }

        &:hover {
            color: $blue-600;
            border-color: $blue-600;
        }

        &:active {
            background-color: $peach-200;
        }
    }

    &__record {
        display: inline-block;
        margin-bottom: 15px;
        &--address {
            display: inline;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 5px;
            line-height: 1.2;
        }

        @media (max-width: $screen-md) {
            display: block;
        }
    }

    &__title {
        display: block;
        margin-bottom: 23px;
        color: $blue-350;
        @include DMSans(700);
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;

        @media (max-width: $screen-lg) {
            margin-bottom: 10px;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: all 1s;

        &:focus {
            background-color: $peach;
        }

        &:hover {
            color: $blue-600;
            border-bottom: 1px solid $blue-600;
        }

        &:active {
            background-color: $blue;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 14px;

            @media (max-width: $screen-lg) {
                margin-bottom: 5px;
            }
        }
    }

    &__text {
        margin-bottom: 34px;
        line-height: 1.6;
        @include LClamp(3);

        @media (max-width: $screen-lg) {
            margin-bottom: 20px;
        }
    }

    &__email {
        display: inline-block;
        background-color: $peach-100;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 11px 12px;
        margin: 0;
        font-size: 18px;
        color: $blue-150;

        &::placeholder {
            color: $blue-200;
            font-size: 16px;
        }

        &:focus::placeholder {
            background-color: $peach;
        }
    }

    &__contact {
        margin-right: -5px;
    }

    &__btn {
        max-width: 100px;
        background-color: $blue;
        color: $white;
        padding: 11px 12px;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition: all .5s;

        &:hover {
            border: 1px solid $blue;
            background-color: $white;
            color: $blue;
        }

        &:active {
            background-color: $peach;
        }
    }
}

.footer-bottom {
    padding: 33px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    @media (max-width: $screen-sm) {
        flex-direction: column;
        padding: 10px 0;
        font-size: 12px;
    }

    &__list {
        display: flex;
        max-width: 254px;
    }

    &__menu {
        position: relative;
        margin-right: 30px;

        @media (max-width: $screen-md) {
            margin-right: 10px;
        }

        &:not(:last-child) {
            &::before {
                content: '|';
                position: absolute;
                right: -5px;
                width: 1px;
                height: 10px;
            }
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: color 0.5s;

        &:focus {
            background-color: $peach;
        }

        &:hover {
            color: $blue-600;
            border-color: $blue-600;
        }

        &:active {
            background-color: $blue;
        }
    }
}