@mixin Rubik($Rfw) {
    font-family: 'Rubik', sans-serif;
    font-weight: $Rfw;
}

@mixin DMSans($Dfw) {
    font-family: 'DMSans', sans-serif;
    font-weight: $Dfw;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

@mixin LClamp($lk) {
    -webkit-line-clamp: $lk;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}