.news {
    position: relative;
    padding: 0 0 114px;

    &__title {
        margin-bottom: 42px;
        text-align: left;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        width: 100%;
        margin-bottom: 100px;

        @media (max-width: $screen-lg) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 5px 5px 0px 0px;
        padding-bottom: 25px;
        background-color: $white;
        position: relative;
        z-index: 1;

        @media (max-width: $screen-lg) {
            margin-bottom: 20px;
        }
    }
}

.news-article {
    display: flex;
    max-width: 370px;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (max-width: $screen-xl) {
        max-width: 310px;
    }

    &__images {
        position: relative;
        max-width: 370px;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        background-color: $peach-700;
        border-radius: 5px 5px 0px 0px;

        @media (max-width: $screen-xl) {
            max-width: 310px;
        }
    }

    &__text {
        position: relative;
        display: block;
        @include DMSans(500);
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 35px;
        max-width: 308px;
        color: $grey-400;
        @include LClamp(3);

        &--labore {
            margin-bottom: 57px;
        }
    }

    &__state {
        display: block;
        border-radius: 15px;
        background-color: $blue;
        color: $white;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
        max-width: 103px;
        width: 100%;
        transform: translate(28px, -18px);
        text-transform: uppercase;
        align-self: flex-start;
    }

    &__bottom {
        position: relative;
        display: flex;
        max-width: 315px;
        width: 100%;
        font-size: 12px;
        color: $blue-300;
        @include Rubik(400);
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            max-width: 315px;
            width: 100%;
            border-top: 1px solid $grey-100;
            top: -22px;
        }
    }

    &__date {
        margin-right: 25px;
        svg {
            fill: $default;
            width: 12px;
            height: 12px;
        }
    }
    &__author {
        svg {
            fill: $default;
            width: 12px;
            height: 12px;
        }
    }
}