.new-design {
    padding: 120px 0 114px;
    background-color: $white;

    @media (max-width: $screen-xl) {
        padding: 40px 0 40px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $screen-xl) {
            justify-content: center;
        }
    }
}

.card-new {
    position: relative;
    max-width: 370px;
    width: 100%;
    min-height: 246px;
    display: flex;
    flex-direction: column;
    background-color: $white-100;
    padding: 40px 36px;

    &:hover {
        box-shadow: 0px 0px 5px 3px $blue;
    }

    &:not(:nth-child(3n+3)) {
        margin-right: 30px;

        @media (max-width: $screen-xl) {
            margin-right: 15px;
        }

        @media (max-width: $screen-md) {
            margin-right: 10px;
        }

        @media (max-width: $screen-sm) {
            margin-right: 0;
        }
    }

    &:not(:nth-child(n+4)) {
        margin-bottom: 30px;

        @media (max-width: $screen-xl) {
            margin-bottom: 15px;
        }
    }

    @media (max-width: $screen-xl) {
        padding: 5px 5px;
        margin: 0 15px 15px 0;
    }

    @media (max-width: $screen-md) {
        margin-right: 10px;
    }

    @media (max-width: $screen-sm) {
        margin-right: 0;
    }

    &__img {
        position: absolute;
        bottom: 40px;
        right: 0;
        object-fit: cover;
        max-width: 280px;
        min-height: 78px;

        &--chair {
            right: 35px
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        font-size: 20px;
        line-height: 1.2;
        max-width: 169px;
        color: $grey-300;
        margin-bottom: 10px;
        @include LClamp(2);
    }

    &__descr {
        position: relative;
        z-index: 1;
        color: $blue;
        @include LClamp(1);
    }
}