.week-products {
    background-color: $peach-600;
    padding: 60px 0 0;

    @media (max-width: $screen-md) {
        padding: 20px 0 0;
    }

    &__title {
        margin-bottom: 26px;

        @media (max-width: $screen-md) {
            margin-bottom: 15px;
        }
    }
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    @media (max-width: $screen-xl) {
        justify-content: center;
    }
}

.card {
    overflow: hidden;
    max-width: 270px;
    width: 100%;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $white;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all 1s;

    &:hover {
        .card__element {
            transform: translateY(-50%);
            box-shadow: inset 0px 0px 5px 3px $blue;
        }
    }

    &:not(:nth-child(4n+4)) {
        margin-right: 30px;

        @media (max-width: $screen-lg) {
            margin-right: 10px;
        }

        @media (max-width: $screen-sm) {
            margin-right: 0;
        }
    }

    &:not(:nth-child(n+5)) {
        margin-bottom: 30px;

        @media (max-width: $screen-lg) {
            margin-bottom: 15px;
        }
    }

    @media (max-width: $screen-lg) {
        padding: 5px;
        margin: 0 10px 15px 0;
    }

    @media (max-width: $screen-sm) {
        margin-right: 0;
    }

    &__link {
        max-width: 250px;
        width: 100%;
        min-height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        max-width: 250px;
        min-height: 150px;
        object-fit: cover;
    }

    &__element {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 180px;
        width: 100%;
        height: 70px;
        box-shadow: inset 0px 0px 5px 3px transparent;
        transform: translateY(400%);
        border-radius: 25px;
        padding: 5px;
    }

    &__more {
        position: relative;
        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 50%;
        padding: 10px;
        transition: all 1s;
        border: none;

        svg {
            width: 20px;
            height: 20px;
            transition: all 1s;
        }

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:hover {
            background-color: $grey;
        }

        &:hover {
            background-color: $blue;

            svg {
                fill: $white;
            }
        }

        &:active {
            background-color: $grey;
        }
    }

    &__title {
        margin-top: auto;
    }
}

.sale {
    display: flex;
    max-width: 1770px;
    width: 100%;
    margin: 0 auto;
    padding: 65px 0;

    @media (max-width: $screen-lg) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 0;
    }

    &__content {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-lg) {
                margin: 0 0 25px;
            }
        }

        @media (max-width: $screen-lg) {
            margin-right: 0;
            width: 100%;
            justify-content: space-around;
            padding: 10px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            min-height: 390px;
            background-color: $peach-200;
            bottom: -90px;
            left: 0;

            @media (max-width: $screen-lg) {
                bottom: -15px;
                min-height: 300px;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        width: 50%;
        padding-right: 20px;

        @media (max-width: $screen-lg) {
            justify-content: space-around;
        }
    }

    &__images {
        max-width: 233px;
        min-height: 405px;
        object-fit: cover;
    }

    &__info {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        min-height: 410px;

        @media (max-width: $screen-xs) {
            min-height: 250px;
        }

        &--right {
            @media (max-width: $screen-xs) {
                max-width: 129px;
            }
        }
    }

    &__title {
        display: block;
        font-size: 26px;
        line-height: 1.2;
        max-width: 250px;
        margin-bottom: 16px;
        @include LClamp(2);

        @media (max-width: $screen-lg) {
            font-size: 20px;
        }
    }

    &__text {
        @include Rubik(400);
        line-height: 1.6;
        margin-bottom: 35px;
        @include LClamp(3);

        @media (max-width: $screen-lg) {
            line-height: 1.2;
            @include LClamp(2);
            margin-bottom: 20px;
        }

        @media (max-width: $screen-xs) {
            display: none;
        }
    }

    &__btn {
        color: $blue-200;
        background-color: transparent;
        border: 1px solid $blue-200;
        border-radius: 5px;
        padding: 22px 20px;
        line-height: 1;
        max-width: 185px;
        transition: all 1s;

        @media (max-width: $screen-md) {
            padding: 20px 9px;
            max-width: 130px;
        }

        svg {
            fill: $blue-200;
            transition: all 1s;
        }

        &:focus {
            background-color: $peach;
        }

        &:hover {
            color: $white;
            background-color: $blue-200;

            svg {
                fill: $white;
            }
        }

        &:active {
            background-color: $peach;
            color: $white;
        }
    }
}